<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.ssi"/>
	
	<!-- <bean id="connector" class="com.ssi.Connector"/> -->
	
	<bean id="connection" class="com.ssi.Connector" factory-bean="connector" factory-method="connect"/>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>
	
	
	
	<!-- <bean id="productService" class="com.ssi.ProductService"/> -->

	<!-- <bean id="productService" class="com.ssi.ProductService">
		<property name="productDAO" ref="productDAO"/>
	</bean> -->
	
	
	
	<!-- <bean id="productDAO" class="com.ssi.ProductDAO"/> -->
	
	
	<!-- <bean id="productDAO" class="com.ssi.ProductDAO" autowire="byType"/> -->
	<!-- <bean id="productDAO" class="com.ssi.ProductDAO">
		<property name="con" ref="connection"/>
	</bean> -->
	
</beans>

